<div id="homeContainer">
  <h1 id="myName">Ravi kashyap</h1>
  <p id="myRole">Full Stack Engineer</p>
  <a class="button btn btn-primary slideInLeft" id="projectBtn" [routerLink]="['/projects']">View Projects</a>
  <a class="button btn btn-primary slideInRight" id="resumeBtn" href="assets/resume/Ravi_Resume.pdf" target="_blank">View
    Resume</a>

  <div id="iconsContainer">
    <a href="https://github.com/ravii-k" class="contactIcon bounceInDown" id="githubLink" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>

    <a href="" target="_blank" class="contactIcon bounceInDown"
      id="https://www.linkedin.com/in/ravi/">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>

    <a href="mailto:kashyap01212@gmail.com" class="contactIcon bounceInDown" id="emailLink">
    </a>
  </div>

</div>
